@tailwind base;
@layer base {
  html {
    @apply bg-stone-200 dark:bg-stone-900 dark:text-stone-100 text-stone-900 scroll-smooth
  }
  summary {
    cursor: pointer;
    list-style: none;
    position: relative;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

  a {
    @apply text-orange-800 underline underline-offset-1 dark:text-orange-500
  }

  li::marker {
    @apply text-orange-800 dark:text-orange-500
  }
}
@tailwind components;
@tailwind utilities;