@tailwind base;
@layer base {
  html {
    @apply bg-slate-50 dark:bg-slate-900 dark:text-slate-100 text-slate-900 scroll-smooth
  }
  summary {
    cursor: pointer;
    list-style: none;
    position: relative;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }

  a {
    @apply text-lime-800 underline underline-offset-2 decoration-1 dark:text-lime-400
  }

  li::marker {
    @apply text-lime-800 dark:text-lime-400
  }
}
@tailwind components;
@tailwind utilities;